$color:#F79709;

.goods{
  .content-scroll{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 13.5vw;
    overflow: hidden;
  }
  .van-goods-action{
    position:fixed;
    bottom: 0;
  }
}

#swiper-wrapper {
  width: 100%;
  height: 95%;
  display: flex;
  overflow: scroll;
}

#picture{
  width: 100%;
  height: 400px;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}

.name {
  font-size: 35px;
  padding: 10px;
  //overflow: hidden;
  //text-overflow: ellipsis;
  white-space: nowrap;
}

.detail {
  width: 90%;
  padding: 5px 0 0 7.5px;
  color:$color;
  .code { font-size: 29px; }
  .price {
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
  }
  .count{
    float: right;
    right: 5px;
    color: #999;
  }
}


.text{
  padding: 5px 0 0 7.5px;
  font-size: 18px;
  color: #999;
}

.title{
  height: 35px;
  line-height: 35px;
  padding-top:20px;
  padding-left: 15px;
  font-size: 20px;
  color: $color;
  border-bottom: 2px solid #eee;
}

.user{
  height: 35px;
  line-height: 35px;
  padding-top:10px;
  padding-left: 5px;
  margin-bottom: -8px;
  font-size: 15px;
}

.comment_detail{
  padding-left: 5px;
  padding-bottom: 10px;
  font-size: 15px;
  border-bottom: 2px solid #eee;
}

.stars{
  width: 80px;
  padding-left: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}
#blank{
  height: 50px;
  width: 100%;
}

#button{
  position:fixed;
  bottom: 20px;
  right:5px;
}

#add{
  height:40px;
  width:130px;
  font-size:22px;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-width:0px;
  background-color: $color;
}

#buy{
  height:40px;
  width:130px;
  font-size:22px;
  color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-width:0px;
  background-color:orangered;
}


